@import '../../../../styles.scss';

table {
    width: 100%;
    height: 450px;

    & th{
        background-color: #f7f7f7;
        font-size: 14px;
        font-family: NotoBold;
    }

    & td{
      font-size: 14px;
      font-family: NotoBold;
    }
  }
  
  ::ng-deep .mat-ink-bar{
    background-color:$navBarColor !important;
  }

  .icon{
      margin-right: 8px;
      color: $navBarColor;
  }

  .p{
      margin-top: .8em;
    color: $navBarColor;
    font-size: 14px;
    font-family: NotoBold;
  }

  .p1{
    margin-top: -2em;
    margin-left: 2em;
  color: $navBarColor;
}

  .add-button{
    position: absolute;
    top: .3em;
    right: 23.5em;
    cursor: pointer;
    border-radius: 1.5em;
    color: $iconColor;
    border: none;
    background-color: green;
    width: 8em;
    height: 3em;
    font-size: 13px;
    font-family: NotoBold;
  }

  .invite-button{
    position: absolute;
    top: .3em;
    right: 14.5em;
    cursor: pointer;
    border-radius: 1.5em;
    color: black;
    border: none;
    background-color: #ffb74d;
    width: 8em;
    height: 3em;
    font-size: 13px;
    font-family: NotoBold;
  }

  .select{
    position: absolute;
    top: .4em;
    right: 8.5em;
    cursor: pointer;
    border-radius: 1.5em;
    width: 3em;
    height: 2em;
    border:.2em solid black;
    font-weight: bold;
    padding-left: 11px;
    padding-top: 3px;
  }

  .search-logo{
    position: absolute;
    top: .5em;
    right: 3em;
  }

  .print-logo{
    position: absolute;
    top: .5em;
    right: .5em;
  }

  .excel-logo{
    position: absolute;
    top: .5em;
    right: 1.7em;
    background: url("../../../svg/excel.svg") center / contain no-repeat;
  }

  ::ng-deep .mat-select-arrow{
    color:$navBarColor !important;
  }

   ::ng-deep .mat-form-field-ripple, .mat-form-field-appearence{
    background-color:$navBarColor !important;
    color:$navBarColor !important;
  }

  .status-text{
    color:#83cbb0;
  }

